div[class^="makeStyles-downArrow-"] {
  animation: down-arrow-fade infinite 2s;
}

@keyframes down-arrow-fade {
  0% {
    opacity: 0;
    bottom: 8%;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: 5%;
  }
}
